doctype html
html
  head
    link(rel="stylesheet" href="ioviz.css")
    script(src="bower/require.js")
    script(src="test/ioviz.test.js")
    script(src="assets/graph_view_test.js")

  body
    h1 ioviz.js sandbox
